@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Isto kWeb";
    src: url(../fonts/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "IstokWeb-Regular";
    src: url(../fonts/IstokWeb-Regular.ttf);
}