html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

#header{
    box-shadow: 0px 4px 8px rgba(168, 168, 168, 0.25);
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 55px 0px 55px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.nav-menu a{
    color: black;
}

.nav-menu a:hover{
    color: #0A7777;
}

.sign-up{
    padding: 8.5px 10px 8.5px 10px;
    background-color: #0A7777;
    color: white;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    border: none;
}

.promote_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin-top: 70px;
}

.side-info{
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.title{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: black;
}

.side-info h3{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: black;
}

.search_travel{
    display: flex;
    align-items: center;
    padding: 36px 87px 36px 27px;
    gap: 35px;
    border-radius: 63px;
    box-shadow: 3px 4px 5px rgba(168, 168, 168, 0.25);
}

.search_travel p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.search_travel span{
    font-size: 12px;
}

.about_us{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 200px;
	margin-top: 136px;
}

.left-picture-side{
	position: relative;
}

.about_section_img1{
	position: absolute;
	bottom: -100px;
    right: -60px;
}

.about_us_title{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #0A7777;
}

.about_us h2{
	font-family: 'Istok Web';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 69px;
}

.about_us_text{
	font-family: 'Istok Web';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
}

.about_us_numbers{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 61px;
	color: #0A7777;
	display: flex;
	gap: 57px;
}

.about_us_text2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	gap: 40px;
}

.right_side_text{
	display: flex;
	flex-direction: column;
	gap: 70px;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Page 3 scc starts here*/
.page-entrance {
    width: 371.43px;
    height: 70px;
    color: #0A7777;
    margin-top: 106px;
    margin-left: 171px;
    font-family: "Inter-Regular";
    font-weight: 600;
    display: flex;
    align-items: center;
}

.page-3-header {
    height: 200px;
    margin-left: 171px;
    font-size: 48px;
    line-height: 69px;
    font-family: "IstokWeb-Regular";
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 171px;
}

.card-one-info {
    width: 370px;
    height: 430px;
    background: rgba(217, 217, 217, 0.47);
    border-radius: 13px;
}

.card-one-img {
    margin-left: 24px;
    margin-right: 25.44px;
    margin-top: 17px;
}

.card-one-name {
    width: 321px;
    height: 40px;
    font-family: "IstokWeb-Regular";
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 32px;
    margin-left: 23px;
}

.card-one-comments {
    display: flex;
    align-content: space-between;
    gap: 24px;
    margin-top: 32px;
    margin-left: 24px;
}

.tour-one-cost{
    width: 134px;
    height: 40px;
    font-family: "IstokWeb-Regular";
    color: #0A7777;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.55px;
    display: flex;
    align-items: center;
}

.tour-one-duration{
    width: 162px;
    height: 40px;
    font-family: "IstokWeb-Regular";
    color: #A8A8A8;
    font-size: 15px;
    font-weight: 700;
    line-height: 21.59px;
    display: flex;
    align-items: center;
}


.card-info {
    width: 370px;
    height: 403px;
    background: rgba(217, 217, 217, 0.47);
    border-radius: 13px;
}

.card-img {
    margin-left: 23px;
    margin-right: 25.44px;
    margin-top: 17.81px;
}

.card-name {
    width: 321px;
    height: 37.85px;
    font-family: "IstokWeb-Regular";
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 30.31px;
    margin-left: 23px;
}

.card-comments {
    display: flex;
    align-content: space-between;
    gap: 25.87px;
    margin-top: 30.15px;
    margin-left: 24px;
}

.tour-cost{
    width: 134px;
    height: 37.85px;
    font-family: "IstokWeb-Regular";
    color: #0A7777;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.55px;
    display: flex;
    align-items: center;
}

.tour-duration{
    width: 162px;
    height: 37.85px;
    font-family: "IstokWeb-Regular";
    color: #A8A8A8;
    font-size: 15px;
    font-weight: 700;
    line-height: 21.59px;
    display: flex;
    align-items: center;
}

.slider {
    margin-top: 80px;
    margin-left: 646px;
    margin-bottom: 76px;
    width: 220px;
    height: 20px;
    display: flex;
    align-content: space-between;
    gap: 20px;
}

.button {
    width: 20px;
    height: 20px;
}


/* Page 4 scc starts here*/
.page-4-header {
    height: 200px;
    margin-left: 171px;
    margin-top: 30px;
    font-size: 48px;
    line-height: 69px;
    font-family: "IstokWeb-Regular";
    font-weight: 700;
    display: flex;
    align-items: center;
}

.reviews-section {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 241px;
    margin-bottom: 210px;
}

.customer-review-1 {
    width: 245px;
    height: 362px;
    background-image: url(../images/backrgound-img-1.png);
    background-repeat: no-repeat;
    box-shadow: 0 0 30px rgba(168, 168, 168, 0.25);
    border-radius: 35px;
    filter: drop-shadow(0px 4px 8px rgba(168, 168, 168, 0.25));
}

.star_container{
    display: flex;
    justify-content: center;
}

.customer-review-2 {
    width: 245px;
    height: 362px;
    background-image: url(../images/backrgound-img-2.png);
    background-repeat: no-repeat;
    box-shadow: 0 0 30px rgba(168, 168, 168, 0.25);
    border-radius: 35px;
    filter: drop-shadow(0px 4px 8px rgba(168, 168, 168, 0.25));
}

.customer-review-3 {
    width: 245px;
    height: 362px;
    background-image: url(../images/backrgound-img-3.png);
    background-repeat: no-repeat;
    box-shadow: 0 0 30px rgba(168, 168, 168, 0.25);
    border-radius: 35px;
    filter: drop-shadow(0px 4px 8px rgba(168, 168, 168, 0.25));
}

.customer-review-4 {
    width: 245px;
    height: 362px;
    background-image: url(../images/backrgound-img-4.png);
    background-repeat: no-repeat;
    box-shadow: 0 0 30px rgba(168, 168, 168, 0.25);
    border-radius: 35px;
    filter: drop-shadow(0px 4px 8px rgba(168, 168, 168, 0.25));
}

.customer-img {
    width: 113.58px;
    height: 135.03px;
    margin-left: 65.44px;
    margin-top: 38.58px;
    margin-right: 65.98px;
}

.customer-name {
    width: 168.49px;
    height: 47.17px;
    margin-left: 38.25px;
    margin-top: 12.7px;
    font-family: "Inter-Regular";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}

.customer-comment {
    width: 188.75px;
    height: 75.23px;
    margin-left: 31.83px;
    font-family: "Inter-Regular";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.gvantsaOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 ;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    
}

.gvantsaOne h2 {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
}

.gvantsaTwo{
    display: grid;
    padding: 16px 70px 170px 70px;
    grid-template-columns: 3fr 0.5fr 2fr 1fr 1fr 2fr 0.5fr 3fr;
    grid-template-rows: 0.5fr 1.2fr 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    
    "one . . two two . . three " 
    "one . . . . . . three " 
    "one . four four five five . three" 
    "one . four four five five . three"
    ". . four four five five . ."
    ". . four four five five . .";

    
}


.area1{grid-area: one;}
.area2 {grid-area: two;}
.area3 {grid-area: three;}
.area4 {grid-area: four;}
.area5 {grid-area: five;}


.gvantsaSections{    
    padding-bottom: 10px;
    background-color: #D9D9D978;
    /* padding: 34.12px 84px 34.12px 8px;
    gap: 44px; */
    border-radius: 20px;}

.gvantsaButton {
    background-color: #0A7777;
    color: white;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    border: none;
    align-items: center;
    padding: 8.5px 7px;
}

.sectionPic{
     
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 38px; 
    margin-right: 0px;
    border-radius: 13px;
    width: 235px;
    height: 175px;
}


.place {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-left: 40px;
}

.insidesection{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.duration{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #A8A8A8;
}

.prise{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #0A7777;
}

.gvantsaThree{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.GvantsaNav{
    display: flex;
    align-content: space-between;
    gap: 90px;

}

.GvantsaNav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    
}

.GvantsaNav nav{
    display: flex;
    gap: 20px;
    align-content: flex-start;
    flex-direction: column;
}

.GvantsaNav nav h3{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}


.gvantsaLogos{
    display: flex;
    flex-direction: column;
    gap: 50px
}

.socialMedia{
    display: flex;
    justify-content: space-between;
    
}


    